.backlogcontainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.backlogbox {
  box-shadow: $main-shadow;
  border-radius: $medium-radius;
  margin-left: $small-margin;
  padding: $medium-padding;
  background-color: #f3f5f7;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
  transition: all 1s ease-in-out;

  /* Backlog Item */
  .backlogitem {
    cursor: pointer;
    position: relative;
    border-radius: $medium-radius;
    padding: $small-padding;
    padding-left: $medium-padding;
    padding-right: $medium-padding;
    background-color: #fff;
    box-shadow: $main-shadow;
    display: flex;

    align-items: center;
    transition: $main-transition;
    margin-bottom: $small-margin/1.5;
    &__status {
      margin-left: $medium-margin;
      width: 8rem;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      padding-top: $small-padding/2;
      padding-bottom: $small-padding/2;
      padding-left: $small-padding;
      padding-right: $small-padding;
      border-radius: $small-radius;
    }
    &__delete {
      position: absolute;
      right: $small-margin;
      svg {
        cursor: pointer;
        color: #dc3545;
        font-size: $small-font-sec;
      }
    }
    /* statuses */
    .done {
      color: #006644;
      background-color: #e3fcef;
    }
    .inProgress {
      color: #1e46a0;
      background-color: #e0ebfd;
    }
    .inTesting {
      color: white;
      background-color: #ffc107;
    }
    .todo {
      color: #dee1e5;
      background-color: #45526d;
    }
    &__assigneeid {
      width: 5rem;
      margin-left: $medium-margin;
      margin-right: $medium-margin * 2;

      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: $medium-radius;
      box-shadow: $main-shadow;
      padding-top: $small-padding/2;
      padding-bottom: $small-padding/2;
      padding-left: $small-padding;
      padding-right: $small-padding;
      cursor: pointer;
    }
    &__description {
      width: 10rem;
      cursor: pointer;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 1; /* number of lines to show */
      -webkit-box-orient: vertical;
    }
    &__title {
      width: 10rem;
      margin-right: $medium-margin;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 1; /* number of lines to show */
      -webkit-box-orient: vertical;
    }
  }
  .backlogitem:hover {
    background-color: #fafbfc;
  }

  /* BackLog Create Button */

  .backlogbutton {
    width: 100%;
    display: flex;
    align-items: center;
    border-radius: $medium-radius;
    padding: $small-padding;
    padding-left: $medium-padding;
    padding-right: $medium-padding;
    color: #46516c;
    text-align: center;
    transition: $main-transition;
    cursor: pointer;
    svg {
      font-weight: bold;
      margin-right: $small-margin/2;
    }
  }
  .backlogbutton:hover {
    background-color: #e2e3e9;
  }
}

/* backlog ticket card */
.backlog__ticketcard {
  margin-left: $small-margin;
  background-color: #f3f5f7;
  box-shadow: $main-shadow;
  position: relative;
  display: flex;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
  padding-bottom: 3.5rem;
  .button__box {
    position: absolute;
    right: $small-margin;
    bottom: $small-margin;
  }
}
