/* CreateProjectCard */
.card {
  width: 15rem;
  height: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: $medium-font;
  div {
    cursor: pointer;
  }
}

.projectsbox {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-row-gap: $small-margin * 2;
  grid-column-gap: $small-margin * 2;
  margin-top: 1rem;
  flex-wrap: wrap;
  justify-content: center;
}
