/* CreateProjectCard */
.card {
  width: 15rem;
  height: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: $medium-font;
  margin: $small-margin;
  div {
    cursor: pointer;
  }
}

.projectsbox {
  display: grid;
  grid-template-columns: auto auto auto auto;

  margin-top: 1rem;
  flex-wrap: wrap;
  justify-content: center;
}
