.logoutcontainer {
  display: flex;
  align-items: center;
  &__item {
    margin-right: 0.5rem;
  }
}
.projectsbox {
  display: flex;
  margin-top: 1rem;
  flex-wrap: wrap;
  justify-content: center;
}
