// margins
$small-margin: 1rem;

// paddings
$small-padding: 0.5rem;
$medium-padding: 0.8rem;

//font sizes
$small-font: 1rem;
$small-font-sec: 1.5rem;
$medium-font: 2rem;
$big-font: 4rem;

//colors:
$main-color: #1f2071;
$secondary-color: #fafbfc;
$main-text-color: #ffff;
$main-gray: #959595;
$light-gray: #f6f6f6;
$main-green: #198754;

//border-radius
$small-radius: 0.5rem;
$medium-radius: 1rem;

// shadows
$main-shadow: 0px 3px 6px #00000029;

// transitions
$main-transition: all 0.1s ease-in-out;
