// margins
$small-margin: 1rem;

// paddings
$small-padding: 0.5rem;
$medium-padding: 0.8rem;

//font sizes
$small-font: 1rem;
$big-font: 4rem;

//colors:
$main-color: #1f2071;
$secondary-color: #e6f2ff;
$main-text-color: #ffff;
$main-gray: #959595;
$light-gray: #f6f6f6;

//border-radius
$small-radius: 0.5rem;
